---
layout: default
title: Work
permalink: work.html
---


<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h2>Work</h2>
		<p>Projects I worked on at Zulleon between 2019-21 and Dragon Play between 2016-18.</p>
                        
		<hr>
		<h3>Zulleon</h3>
		<p>My current employer. Founded around the idea of creating personalized books using user generated content from a mobile app (OOKs - What's that rumbling), but diversified into other games, animation and publishing</p>
		<p>I helped to build, ship and maintain a collection of mobile apps to build out the OOKs brand, including a colouring book, auto-runner, match 3, and a compendium of classic games. We built all the games in Unity.</p>
		<p>In 2020, apart from maintenence work on the games, I spent much of my time upgrading our backend API and store for the original app, adding new features and bringing us into compliance with new EU payment rules. This was mostly Rails work with a bit of Kubernetes and Node.</p>
		{% include ooksimages.html %}
		<br>

		<h3>Dragon Play</h3>
		<p>My first postgrad programming job - originally a 3 month internship but they liked me so I stayed.</p>
		<p>I was mostly in a graphics role here, working on our networked racing game Crazy Kart developing custom shaders and scripts to help the artists achieve their desired effects, as well as some 'utility' stuff to keep within our memory and performance budgets.</p>
		<p>When the graphics side was quiet, I did a lot of proof-of-concept prototyping for other ideas the designers had, including a shoot-em-up and an educational VR app about space.</p>
		{% include dpimages.html %}
		<br>

	</div>
</div>
